@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Signpainter';
  src: url('/assets/fonts/Signpainter.ttf');
}

@font-face {
  font-family: 'Chalet Paris';
  src: url('/assets/fonts/Chalet-ParisNineteenSixty.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box !important;
  -webkit-user-drag: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
}

a,
input,
button,
textarea {
  all: unset;
}

[contenteditable] {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

::-webkit-scrollbar,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}
